ion-card-title ion-chip
{
    
    font-size: 25px;
}
ion-card-title{
    text-align: center;
}
ion-card-subtitle
{
    text-align: center;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: green;
}