<ion-list lines="none">
  <!-- <ion-item  button (click)="close('oc')"><ion-icon name="checkmark-circle-outline"></ion-icon>Overs Completed</ion-item> -->
  <ion-item  button (click)="close('db')"><ion-icon name="remove-circle-outline"></ion-icon>Dismiss Batsman</ion-item>
  <ion-item  button (click)="close('sb')"><ion-icon name="swap-horizontal-outline"></ion-icon>Switch Batsman</ion-item>
  <ion-item  button (click)="close('cb')"><ion-icon name="person"></ion-icon>Change Bowler</ion-item>
</ion-list>
