<ion-header>
  <ion-toolbar class="cricket-toolbar">
    <ion-title>{{playerToEdit ? 'Edit Player' : 'Add New Player'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button class="dialog-close-button" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="cricket-page add-player-page">
  <form (ngSubmit)="onAddItem()" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
      <ion-item>
        <ion-label position="stacked">Name*</ion-label>
        <ion-input type="text" placeholder="Enter player name" [(ngModel)]="name" name="name" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Role</ion-label>
        <ion-input type="text" placeholder="Optional" [(ngModel)]="description" name="description"></ion-input>
      </ion-item>
      <div class="photo-picker">
        <div class="photo-preview">
          <img *ngIf="photoPreview" [src]="photoPreview" alt="Player photo preview">
          <ion-icon *ngIf="!photoPreview" name="person-circle-outline"></ion-icon>
        </div>
        <input #photoInput type="file" accept="image/*" hidden (change)="onPhotoSelected($event)">
        <ion-button class="photo-action" type="button" fill="solid" (click)="photoInput.click()">
          <ion-icon slot="start" name="camera-outline"></ion-icon>
          {{photoPreview ? 'Change Photo' : 'Upload Photo'}}
        </ion-button>
      </div>
      <!-- <ion-item>
        <ion-label>Measures In*</ion-label>
        <ion-select placeholder="Select One" ngModel name="unit">
          <ion-select-option value="Kg">Kg</ion-select-option>
          <ion-select-option value="g">g</ion-select-option>
          <ion-select-option value="L">L</ion-select-option>
          <ion-select-option value="ml">ml</ion-select-option>
          <ion-select-option value="">no unit</ion-select-option>
        </ion-select>
      </ion-item> -->
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button class="primary-action" type="submit" expand="block" [disabled]="!f.valid">
          {{playerToEdit ? 'Save Player' : 'Add Player'}}
        </ion-button>
        <ion-button class="cancel-action" type="button" expand="block" fill="outline" (click)="onCancel()">Cancel</ion-button>
        </ion-col>
        </ion-row>
    </ion-grid>
  </form>
  </ion-content>
