<ion-content [fullscreen]="true">
  <div style="text-align: center;"><h1>!!Selection!!</h1></div>
  <div id="container">
    <ion-grid>
      @if (teams.battingTeam) {
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-list>
              <ion-radio-group  (ionChange)="onPlayerDidSelectForBatting($event)">
                <ion-list-header>
                  <ion-label>Select Opening Batsman</ion-label>
                </ion-list-header>
                @for (player of teams.battingTeam; track player) {
                  <ion-item>
                    <ion-label>{{player.name}}</ion-label>
                    <ion-radio slot="start" value="{{player.name}}" ></ion-radio>
                  </ion-item>
                }
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      }
      @if (teams.bowlingTeam) {
        <ion-row>
          <ion-col size="10" offset="1">
            <ion-list>
              <ion-radio-group  (ionChange)="onPlayerDidSelectForBowling($event)">
                <ion-list-header>
                  <ion-label>Select Opening Bowler</ion-label>
                </ion-list-header>
                @for (player of teams.bowlingTeam; track player) {
                  <ion-item>
                    <ion-label>{{player.name}}</ion-label>
                    <ion-radio slot="start" value="{{player.name}}"></ion-radio>
                  </ion-item>
                }
              </ion-radio-group>
            </ion-list>
          </ion-col>
        </ion-row>
      }
    </ion-grid>

  </div>
</ion-content>
<ion-footer >
  <ion-button [disabled]="!firstBatsman || !firstBowler" expand="full" shape="round" color="secondary" (click)="onStart()">Start Second Innings</ion-button>
</ion-footer>