.smtxt ion-label
{
    font-size: 15px;
}
.live
{
    background-color: rgb(55, 146, 55);
    color: white;
    margin-left: 58% !important;
    font-size: 15px !important;
}
ion-card-title
{
    font-size: 16px;
    color: rgb(6, 116, 6);
}
ion-card-content
{
    padding-bottom: 1px;
    background-color : #ff4961;;
    color: rgb(255, 255, 255);
}
ion-card-subtitle
{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: large;
}
ion-card-header
{
    padding-top: 2px;
}
p{
    margin: 0px;
}
ion-chip
{
    font-size: large;
}
p ion-chip
{
    margin: 0px;
    font-size: 12px;
    
}
.smtxt
{
    text-align: center;
}
.smtxt ion-button
{
    font-size: 11px;
}

